body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    margin: 0;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px;
}

.image {
    flex: 1;
    text-align: center;
}

    .image img {
        width: 100%;
        max-width: 400px;
        border-radius: 10px;
    }

.info {
    flex: 1.2;
    padding-left: 30px;
}

h2 {
    color: #222;
    margin-bottom: 10px;
}

.price {
    color: red;
    font-size: 22px;
    margin-bottom: 15px;
}

.desc,
.detail {
    color: #444;
    margin-bottom: 10px;
    line-height: 1.5;
}

.btn {
    border: none;
    outline: none;
    background: #ff80b3;
    color: white;
    padding: 10px 18px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

    .btn:hover {
        background: #ff4d88;
    }

    .btn.buy {
        background: #28a745;
    }

        .btn.buy:hover {
            background: #1e7e34;
        }

.back {
    display: inline-block;
    margin-top: 20px;
    background: #ff80b3;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    text-decoration: none;
}

    .back:hover {
        background-color: #ff4d88;
    }

.detail-btn {
    background-color: #ff6699;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

    .detail-btn:hover {
        background-color: #ff4d88;
    }

.qty-input {
    width: 60px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
